/*@import url("/css/user-account.css");*/
@import url("/css/nav.css");
@import url("/css/sport.css");
@import url("/css/user-account.css");
@import url("/css/popup.css");

html {
    height: 100%;
}

* {

    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

table input.small-input {
    width: 30px;
}

table input.medium-input {
    width: 90px;
}

table input.large-input {
    width: 120px;
}

td, th {
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    background: #FFF url(../img/body.png);
    font: 12px/18px Arial, sans-serif;
}

/* Begin of styles for the demo (you can remove them) */
a.expand {
    width: 90px;
    display: block;
    margin: 10px 0 0;
}

a.expand:hover {
    height: 500px;
}

/* End of of styles for the demo */
.wrapper {
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    background-color: rgba(133, 133, 133, 0.54);
    display: block;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 7%;
}

/* Middle
-----------------------------------------------------------------------------*/

.content {

    box-sizing: border-box;
    min-height: 88%;
    width: 60%;
    margin: auto;
    background-color: WhiteSmoke;
}

@media screen and (max-width: 1000px) {
    .content {
        width: 100%;
    }

    #chat {
        display: none;
    }
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 5%;
    background: rgba(133, 133, 133, 0.54);
}

.footer span {
    font-size: 15px;
    color: #0088cc;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
}

.input-image.delete {
    background: url('/img/delete.png') center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    border: none;
}

.input-image.edit {
    background: url('/img/edit.png') center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    border: none;
}

.input-image.save {
    background: url('/img/save.png') center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    border: none;
}

.login-div, .register-div {
    text-align: center;
}

.div.logo {
    position: absolute;
    top: 37%;
    left: 37%;
}

.div.logo .logo {
    font-size: 64px;
}

.status {
    text-align: center;
    font-size: 24px;
    line-height: 70px;
}

#messages, #message {
    margin-left: 1%;
    width: 98%;
    resize: none;
}

#messages {
    margin-top: 10%;
}

#send-message{
    margin-left: 1%;
    width: 98%;
}

#chat {
    top: 7%;
    left: 80%;
    min-height: 88%;
    width: 20%;
    position: fixed;
}