.overlay {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .5;
}
.visible {
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    overflow: hidden;
    z-index: 2000;
    width: 50%;
    padding: 0px;
    margin-left: -25%;
}
.win button {
    float: right;
    line-height: 20px;
    margin: 1.2em;
    border: none;
    background: transparent;
    color: blue;
}
.win button[type="button"]:hover {
    cursor: pointer;
    color: navy;
    text-decoration: underline;
}
.win h3 {
    text-align: center;
    color: #555;
}
.content-popup {
    padding: 0 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: WhiteSmoke;
}