#tabs {
    width: 100%;
    display: inline-block;
}

.tabs-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs-menu li {
    float: left;
    margin-left: 1px;
}

.tabs-menu li:first-child {
    margin-left: 0
}

.tabs-menu li a {
    display: block;
    padding: 5px 10px;
    background: #DDD;
    border: solid 1px #DDD;
    border-bottom: 0;
    color: #000;
    text-decoration: none;
    position: relative;
}

.tabs-menu li a:hover, .tabs-menu li.active a {
    background-color: #FFF;
    padding-bottom: 6px;
    margin-bottom: -1px;
}

.tab-container {
    clear: both;
    padding: 10px 15px;
    border: solid 1px #DDD;
}